* {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#menu {
    height: 10%;
    background-color: lightgray;
}

body {
    background-color: lightblue;
}

#menu li {
    display: inline-block;
    padding-left: 15%;
    position: relative;
    padding-top: 2%;
    padding-bottom: 1%;
}

#menu li a {
    display: inline;
    display: inline-block;
    text-decoration: none;
    color: black;
}

#menu a:hover {
    background-color: red;
}

#menu img {
    position: relative;
    top: 5px; left: 10px;
}

#menu img {
    float: left;
    position: relative;
    left: 100px;
    height: 90%;
    width: 5%;
}

#conteudo {
    height: 90%;
    background-color: lightblue;
}

.img1 {
    background-color: lightblue;
    display: inline;
    padding-top: 300px;
    padding-left: 200px;
    text-align: center;
}

.img1 img {
    height: 70%;
    width: 40%;
    padding-top: 50px;
}

.img1 h2 {
    position: relative;
    bottom: 300px; left: 200px;
}


.img2 {
    display: inline;
    display: inline;
    padding-top: 30px;
    padding-left: 200px;
    padding-top: 30px;
}

.img2 img {
    height: 70%;
    width: 40%;
    padding-top: 30px;
}

.img2 h2 {
    position: relative;
    bottom: 300px; left: 1050px;
}

.img3 {
    display: inline;
}


.img3 img {
    height: 70%;
    width: 40%;
    padding-left: 200px;
    padding-top: 30px;
}

.img3 h2 {
    position: relative;
    bottom: 300px; left: 1050px;
}

