#item{
    height: 70px;
    width: 70px;
    background-color: brown;
}

#flex-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#item2{
    height: 70px;
    width: 70px;
    background-color: green;
}

#flex-box2{
    display: flex;
    flex-direction: column;
}

#item3{
    height: 70px;
    width: 70px;
    background-color: blue;
}

#flex-box3{
    display: flex;
    flex-direction: column;
}

#flex-box, #flex-box2, #flex-box3{
    display: flex;
    margin-top: 50px;
    margin-left: 310px;
    float: left;
    justify-content: flex-end;
    
}

#item, #item2, #item3{
    margin-top: 50px;
    
}
